[Component]
Name = addons.tests_component_c
Title = Tests Component C
Module = tests_component_c
Object = TestsComponentC
Require = core.tests_component_b
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Addons tests Component C.