[Component]
Name = addons.tests_component_d
Title = Tests Component D
Module = tests_component_d
Object = TestsComponentD
Require = core.tests_component_a|addons.tests_component_c
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Addons tests Component D.