[Component]
Name = core.tests_component_b
Title = Tests Component B
Module = tests_component_b
Object = TestsComponentB
Require = core.tests_component_a
Version = 1.0

[Informations]
Author = Thomas Mansencal
Email = thomas.mansencal@gmail.com
Url = http://www.hdrlabs.com/
Description = Core tests Component B.